.error-message{
    color:red;
    font-size:16px;
    font-style:italic;
    padding-bottom: 14px;
}

.login-register{
    display: flex; justify-content: space-between; align-items: center; padding-top: 10px
}
